# Common temporary files
*.swp
*.orig
*.bak

# Audio files
*.wav

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.chug

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store

*.tgz
/chugins.opt
/chugins.ncb
/chugins-windows-*
/chugins-mac-*

# Visual Studio artifacts
*.VC.opendb
*.sdf
.vs/

/Release/
/Debug/
*/Release/
*/Debug/
*/x64/
*/*.vcxproj.user
*/*.vcxproj.filters
ipch

*/*.xcodeproj/xcuserdata

.vscode/*

