[submodule "WarpBuf/thirdparty/rubberband"]
	path = WarpBuf/thirdparty/rubberband
	url = https://github.com/breakfastquay/rubberband/
[submodule "WarpBuf/thirdparty/libsamplerate"]
	path = WarpBuf/thirdparty/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
[submodule "chuck-api"]
	path = chuck-api
	url = git@github.com:ccrma/cheaders.git
