*.wav
*.asd
!1375__sleep__90-bpm-nylon2.wav.asd
!1375__sleep__90-bpm-nylon2.wav
!381353__waveplaysfx__drumloop-120-bpm-edm-drum-loop-022.wav.asd
!381353__waveplaysfx__drumloop-120-bpm-edm-drum-loop-022.wav
!381353__waveplaysfx__drumloop-120-bpm-edm-drum-loop-022_no_asd.wav