name: Windows - Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  windows-build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Compile - Windows
      run: make win32
